html {
  background-color: #000;
}
body {
  background: url(images/snow_ls.png);
  background-color: #ddd;
  background-repeat: repeat;
  margin: 0 auto;
  max-width: 100vw;
  min-height: 100vh;
}
#particles-js {
  pointer-events: none;
}
.snow {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 100;
}
.sky {
  background: linear-gradient(
      to bottom,
      rgba(19, 25, 28, 0.8) 10%,
      rgba(15, 14, 14, 0.8) 100%
    ),
    url(images/bg.gif);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 63%;
  position: fixed;
  width: 100%;
}
.ls-container {
  bottom: -10px;
  position: absolute;
  width: 100%;
  z-index: 5;
}
.ls-container img {
  width: 100%;
}
.ls-container .crib {
  bottom: 15%;
  position: absolute;
  z-index: 10;
}
.ls-container .crib img {
  width: 70%;
}
.ls-container .pine_fg {
  left: 78%;
  position: absolute;
}
.lamp-container .lamp {
  bottom: 0;
  position: fixed;
  width: 150px;
}
.lamp-container {
  left: 86%;
  position: relative;
  transform: scale(0.3);
}
.lamp-container .lamp {
  height: 500px;
  left: calc(50% - 230px);
  transform: scaleX(-1);
}
.lamp-container .lamp .post,
.lamp-container .lamp .curve,
.lamp-container .lamp .socket,
.lamp-container .lamp .light {
  position: absolute;
}
.lamp-container .lamp .post {
  background: #070707;
  border-right: 5px solid #70643e;
  height: 100%;
  left: 30px;
  width: 10px;
}
.lamp-container .lamp .curve {
  height: 100px;
  left: 0;
  overflow: hidden;
  top: 20px;
  transform: rotate(-10deg);
  width: 100%;
}
.lamp-container .lamp .curve:before,
.lamp-container .lamp .curve:after {
  border-radius: 50%;
  content: '';
  height: 100%;
  left: -50px;
  position: absolute;
  width: 250px;
}
.lamp-container .lamp .curve:before {
  border-top: 10px solid #070707;
  top: 0;
}
.lamp-container .lamp .curve:after {
  border-top: 5px solid #70643e;
  top: 6px;
}
.lamp-container .lamp .socket {
  border: solid transparent;
  border-bottom-color: #070707;
  border-width: 20px 10px;
  height: 0;
  right: 13px;
  top: 0;
  width: 15px;
}
.lamp-container .lamp .socket:after {
  animation: flicker 3s ease-out infinite;
  background: #ffed8f;
  border-radius: 50%;
  box-shadow: 0 0 10px;
  color: #ffe000;
  content: '';
  height: 50px;
  left: -17px;
  position: absolute;
  top: 14px;
  width: 50px;
  z-index: -1;
}
.greeting {
  bottom: 8px;
  position: absolute;
  right: 11%;
}
.greeting img {
  max-width: 450px;
  width: 50vw;
}
@keyframes flicker {
  0% {
    box-shadow: 0px 0px 6px;
  }
  2% {
    box-shadow: 0px 0px 60px;
  }
  8% {
    box-shadow: 0px 0px 6px;
  }
  9% {
    box-shadow: 0px 0px 60px;
    opacity: 1;
  }
  12% {
    box-shadow: 0px 0px;
  }
  20% {
    box-shadow: 0px 0px 60px;
  }
  25% {
    box-shadow: 0px 0px 6px;
  }
  30% {
    box-shadow: 0px 0px 60px;
  }
  70% {
    box-shadow: 0px 0px 40px;
  }
  72% {
    box-shadow: 0px 0px 12px;
  }
  77% {
    box-shadow: 0px 0px 50px;
  }
  100% {
    box-shadow: 0px 0px 50px;
  }
}
@media (max-width: 768px) {
  .ls-container .crib img {
    width: 65vw;
  }
}
@media (min-width: 768px) {
  .lamp-container {
    left: 81%;
    position: relative;
    transform: scale(0.6);
  }
  .greeting img {
    max-width: 450px;
    width: 39vh;
  }
}
@media (min-width: 1000px) {
  .sky {
    height: 37vw;
  }
  body {
    background-position: 50%, 100%;
    background-repeat: space;
  }
  .lamp-container {
    left: 47%;
    position: relative;
    transform: scale(0.7);
  }
  .greeting img {
    max-width: 450px;
    width: 33vh;
  }
}
